.area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--area-porta-largura);
    height: var(--area-porta-altura);
    margin: 5px;
}

.estrutura {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    border-left: 5px solid #fff5ee;
    border-top: 5px solid #fff5ee;
    border-right: 5px solid #fff5ee;
    background-color: #0005;
    width: 90%;

}


.porta {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: #8b4513;
    padding: 15px;
}

.numero {
    color:#fff5ee;
    font-size: 3rem;
}
.macaneta {
    position: absolute;
    align-self: flex-start;
    top: calc(0.45 * var(--area-porta-altura));
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #fff5ee;
}

.chao {
    height: 10px;
    width: 100%;
    background-color: #a9a9a9;

}

.selecionada {
    border-left: 5px solid #ffff00;
    border-top: 5px solid #ffff00;
    border-right: 5px solid #ffff00;
}

.selecionada .numero {
    color: #ffff00;

}

.selecionada .macaneta {
    background-color: #ffff00;
    
}